{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SCML</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/agency.min.css' %}">

  </head>

  <body id="page-top">

    <!-- Navigation -->
   
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
            <div class="container">
            <a class="navbar-brand" href="/" 
                style="font-family: Montserrat; color: #fed136;">SCML</a>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/" 
                  style="font-family: Montserrat; color: white;">HOME</a>
              </li>
            </ul>
          </div>
        </nav>
    <!-- Calendar -->
    <div class="row">
      <div class="col-md-10" style="margin-top: 5em; margin-left: 20%">
          <iframe src="https://calendar.google.com/calendar/embed?src=scml.coop%40gmail.com&ctz=America%2FLos_Angeles" style="border: 0" 
            width="800" height="500" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
    </body>



    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; SCML 2017</span>
          </div>
        </div>
      </div>
    </footer>



   
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

  </body>

</html>